<head>
  <link rel="stylesheet" href="./css/navbar3.css">
</head>
<nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
 
  <figure class="image is-48x48">
    <img class="is-rounded" src="img/logo.png">
  </figure>

  
    <div id="navbarBasicExample" class="">
      <div class="navbar-start">
        <a class="navbar-item">
          ADMINISTRADOR DE PROYECTOS
        </a>
        </div>
      </div>
    </div>
  </nav>